doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title CV - Jinhang Choi

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')
        // Iconify - open source vector icons
        script(src='https://code.iconify.design/2/2.1.2/iconify.min.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jinhang Choi
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Jinhang 
                        span.text-primary Choi
                    .subheading.mb-5
                        | Computer Architecture · Design Automation · Machine Learning · 
                        a(href='mailto:cepiross@korea.ac.kr') cepiross at korea.ac.kr
                    p.lead.mb-5
                        | I am working in Deep Neural Network (DNN) HW/SW Co-design & Optimization.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/jinhang-choi')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/cepiross')
                            i.fab.fa-github
                        a.social-icon(href='https://scholar.google.com/citations?user=mz4fY2AAAAAJ')
                            i.fab.fa-google

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Research Interests
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-book
                            | Systematic/Architectural Design and Support for Machine Learning
                        li
                            span.fa-li
                                i.fas.fa-book
                            | Energy-efficient/Low-power computing system, Parallel processing techniques
                        li
                            span.fa-li
                                i.fas.fa-book
                            | Dynamic power/thermal management

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Pennsylvania State University
                            .subheading.mb-3 Doctor of Philosophy
                            div Computer Science and Engineering
                            p Dissertation: Context-Aware Design and Optimization of Embedded DNN Architectures, co-advised by Prof. Vijaykrishnan Narayanan and Prof. John (Jack) Sampson. 
                            | Presented a) hardware/software co-design to mitigate excessive off-chip memory access caused by Deep Neural Networks (DNN), b) DNN memory footprint reduction scheme to expedite training speed in approximate computing, and c) iterative functional verification methodology to validate DNN design in machine learning. <br/>
                            img(src='assets/img/wavg-dist-dnn.png' style='height:250px;')
                        .flex-shrink-0
                            span.text-primary August 2015 - December 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Korea University
                            .subheading.mb-3 Master of Engineering
                            div Computer and Radio Communications Engineering - Computer Science and Engineering Track
                            p Thesis: A Novel Thermal Simulation Framework to Reflect Ambient Changes, advised by Prof. Sung Woo Chung.
                            | Proposed a system-wide thermal simulation framework for computer architecture design that reflects ambient temperature changes, by using the mechanical heat flow model as well as microarchitectural performance event-based thermal model. <br/>
                            img(src='assets/img/dtm.png' style='height:250px;')
                        .flex-shrink-0
                            span.text-primary March 2008 - February 2010

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Korea University
                            .subheading.mb-3 Bachelor of Engineering
                            div Computer Science and Engineering
                            p Undergraduate Research Project: A Dual Integer Register File Structure for Temperature-Aware Microprocessors <br/>
                            img(src='assets/img/dual-reg.png' style='height:250px;')
                        .flex-shrink-0
                            span.text-primary March 2004 - February 2008

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Hardware Engineer
                            .subheading.mb-3 Microsoft, Redmond, WA
                            p
                                | Member of Cloud AI Systems & Technologies (CAST)
                        .flex-shrink-0
                            span.text-primary September 2021 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Hardware Engineer
                            .subheading.mb-3 Microsoft, Redmond, WA
                            p
                                | Member of Cloud AI Systems & Technologies (CAST)
                        .flex-shrink-0
                            span.text-primary January 2020 - August 2021

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Research Assistant
                            .subheading.mb-3 Pennsylvania State University, University Park, PA
                            p
                                | Member of Microsystems Design Lab (MDL). Conducted research to realize distributed intelligence for embedded visual recognition system. Experimented with the impact of near-data processing on Deep Neural Network (DNN) training & inferencing from the perspective of performance, energy, and accuracy. The studies led to designing DNN-based hardware systems in FPGA platform and Andriod/Linux mobile platforms. Consequently, in the course of this role, published 6 conference papers and 1 journal paper.
                        .flex-shrink-0
                            span.text-primary June 2016 - December 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Hardware Engineer Intern
                            .subheading.mb-3 Microsoft, Redmond, WA
                            p
                                | Intern at AI and Advanced Architectures (AIArch) of Microsoft Azure Hardware Systems Group. Deployed Microsoft deep learning inference platform, BrainWave, on Intel Stratix 10 FPGAs. To enable this transition, upgraded Intel FPGA IP generation, ported the latest FPGA synthesis compiler (a.k.a. Intel QuartusPro 19) on Azure cloudbuild service, verified and corrected the existing BrainWave Neural Processing Unit hardware system designs from automated test suite (pytests). This design exploration also projected FPGA resource estimation and its corresponding restriction to support additional functionalities required in AI inference service, which offered new challenges & opportunities with Microsoft hardware designers.
                        .flex-shrink-0
                            span.text-primary May 2019 - August 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer Intern
                            .subheading.mb-3 Microsoft, Bellevue, WA
                            p
                                | Intern at Microsoft AI and Research (AI+R) Group. Deployed a Machine Reading Comprehension (MRC) model on Microsoft deep learning inference platform, BrainWave. To port the MRC TensorFlow model, modified a graph compiler to offload TensorFlow subgraph, wrote a subgraph firmware for FPGA acceleration based on Instruction Set Architecture (ISA) of BrainWave Neural Processing Unit, then verified its execution on Intel Arria10 FPGAs. It was a working example that firmware developers could leverage to accelerate AI inferencing service in BrainWave plaform.
                        .flex-shrink-0
                            span.text-primary May 2018 - August 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Teaching Assistant
                            .subheading.mb-3 Pennsylvania State University, University Park, PA
                            p
                                | Proposed and graded homeworks of undergraduate class, data structures and algorithms, in Fall 2015/Spring 2016.
                        .flex-shrink-0
                            span.text-primary August 2015 - May 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Chief Technology Officer; System Architect
                            .subheading.mb-3 LineWalks, Seoul, South Korea
                            p
                                | Member of start-up company, LineWalks. Led Online Analysis Processing (OLAP) system design. Deployed Apache Tajo SQL-on-Hadoop engine on clusters of commodity computer systems, thereafter I developed extract/transform/load (ETL)-OLAP interface for geolocation-based medical infographic project.
                        .flex-shrink-0
                            span.text-primary January 2014 - June 2015

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Architecture Consultant
                            .subheading.mb-3 NexStreaming, Seoul, South Korea
                            p
                                | Supported multimedia streaming protocols for NexPlayer SDK engine. Provided analysis of Internet Engineering Task Force (IETF) specification against media streaming contents: Real Time Streaming Protocol (RTSP, RFC 2326) & Real Time Transport Protocol (RTP, RFC 3550).
                        .flex-shrink-0
                            span.text-primary September 2013 - December 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 NexStreaming, Seoul, South Korea
                            p
                                | Developed NexPlayer SDK engine for multimedia streaming protocols processing. To support NexPlayer SDK, implemented Apple HTTP Live Streaming (Apple HLS), Microsoft Smooth Streaming (MS-SSTR), and Realtime Streaming Protocols (RTSP, RTP); then integrated NexPlayerSDK with Android media playback engine, Stagefright. To analyze media streaming Quality-of-Service over live network traffic, developed a trace-driven stream depacketizing emulator to replay packet capture (also known as Pcap) dumps.
                        .flex-shrink-0
                            span.text-primary January 2010 - September 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Research Assistant
                            .subheading.mb-3 Korea University, Seoul, South Korea
                            p
                                | Member of System-on-Chip & Microprocessor Research Lab (SMRL). Conducted study & research to design temperature-aware computer system. To alleviate performance degradation caused by on-chip thermal hotspot problem, developed a computer system-wide CPU/DRAM/HDD activity tracer based on hardware performance event counter monitoring interface. Then, simulated power consumption and correponding on-chip temperature behaviors in the level of Linux operating systems. In the course of this role, presented 1 poster, and published 3 conference papers and 4 journal papers (1 IEEE journal / 3 Korea domestic journals).
                        .flex-shrink-0
                            span.text-primary March 2008 - February 2010

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Teaching Assistant
                            .subheading.mb-3 Korea University, Seoul, South Korea
                            p
                                | Proposed and graded the projects of undergraduate class, Computer Architecture: 1) Implementation of single-cycle Instruction Set Architecture (Simple MIPS) on verilog, and 2) performance modeling & analysis based on microarchitectural simulatior, SimpleScalar.
                        .flex-shrink-0
                            span.text-primary March 2008 - June 2008

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Undergraduate Research Intern
                            .subheading.mb-3 Korea University, Seoul, South Korea
                            p
                                | Research Intern at SoC & Microprocessor Research Laboratory (SMRL). Conducted study & research to design temperature-aware microarchitecture. To mitigate on-chip thermal hotspot problem, developed a microarchitectural simulator that incorporates microarchitectural modeling (SimpleScalar), architectural power estimation (Wattch), and thermal behavior analysis (HotSpot), then experimented with architectural changes from the perspective of performance, power, and temperature. In the course of this role, published 1 Korea domestic journal paper.
                        .flex-shrink-0
                            span.text-primary July 2006 - February 2008
            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            a(href='https://en.cppreference.com/w/c')
                                i.iconify-inline(data-icon="teenyicons:c-solid")
                        li.list-inline-item
                            a(href='https://en.cppreference.com/w/cpp')
                                i.iconify-inline(data-icon="teenyicons:cplusplus-solid")
                        li.list-inline-item
                            a(href='https://docs.microsoft.com/en-us/dotnet/csharp/')
                                i.iconify-inline(data-icon="teenyicons:c-sharp-solid")
                        li.list-inline-item
                            a(href='https://ieeexplore.ieee.org/document/1560791')
                                i.iconify-inline(data-icon="file-icons:systemverilog")
                        li.list-inline-item
                            a(href='https://www.intel.com/content/www/us/en/developer/articles/technical/intel-sdm.html')
                                i.iconify-inline(data-icon="file-icons:assembly-intel")
                        li.list-inline-item
                            a(href='https://developer.arm.com/architectures/cpu-architecture/a-profile/docs')
                                i.iconify-inline(data-icon="file-icons:assembly-arm")
                        li.list-inline-item
                            a(href='https://www.gnu.org/software/bash/')
                                i.iconify-inline(data-icon="codicon:terminal-bash")
                        li.list-inline-item
                            a(href='https://docs.python.org/3/')
                                i.iconify-inline(data-icon="vscode-icons:file-type-python")
                        li.list-inline-item
                            a(href='https://openjdk.java.net/')
                                i.iconify-inline(data-icon="vscode-icons:file-type-java")
                        li.list-inline-item
                            a(href='https://www.latex-project.org/')
                                i.iconify-inline(data-icon="vscode-icons:file-type-light-tex")
                        li.list-inline-item
                            a(href='https://daringfireball.net/projects/markdown/')
                                i.iconify-inline(data-icon="bx:bxl-markdown")
                        li.list-inline-item
                            a(href='https://tc39.es/ecma262/')
                                i.iconify-inline(data-icon="bx:bxl-javascript")
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            a(href='https://docs.kernel.org/')
                                i.iconify-inline(data-icon="logos:linux-tux")
                        li.list-inline-item
                            a(href='https://www.debian.org/doc/')
                                i.iconify-inline(data-icon="logos:debian")
                        li.list-inline-item
                            a(href='https://developer.android.com/about/versions/jelly-bean')
                                i.iconify-inline(data-icon="logos:android-icon")
                        li.list-inline-item
                            a(href='https://git-scm.com/')
                                i.iconify-inline(data-icon="logos:git")
                        li.list-inline-item
                            a(href='https://nodejs.org/en/')
                                i.iconify-inline(data-icon="logos:nodejs")
                        li.list-inline-item
                            a(href='https://numpy.org/')
                                i.iconify-inline(data-icon="logos:numpy")
                        li.list-inline-item
                            a(href='https://www.tensorflow.org/')
                                i.iconify-inline(data-icon="logos:tensorflow")
                        li.list-inline-item
                            a(href='https://docs.microsoft.com/en-us/azure/devops')
                                i.iconify-inline(data-icon="logos:microsoft-azure")
                        li.list-inline-item
                            a(href='https://mariadb.org/')
                                i.iconify-inline(data-icon='logos:mariadb-icon')
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Google Analytics Certified Developer
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Mobile Web Specialist - Google Certification
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2
                            sup nd 
                            | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1
                            sup st 
                            | Place - James Buchanan High School - Hackathon 2006
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 3
                            sup rd 
                            | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')